* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: #00282d;
}
ul {
  text-align: center;
}
ul li {
  padding: 20px;
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 1.3rem;
  position: relative;
  transition: all 0.2s cubic-bezier(0.26, -0.78, 0.71, 1.82);
}
ul li a:hover {
  color: rgb(0 174 214);
}
ul li a::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: -5px;
  width: 150%;
  height: 3px;
  background-color: rgb(0 174 214);
  visibility: hidden;
  transition: all 0.5s cubic-bezier(0.26, -0.78, 0.71, 1.82);
}
ul li a:hover::after {
  width: 100%;
  transform: translateX(0px);
  visibility: visible;
}
